<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamd0622.mapper.CustomersAccountMapper">
    <insert id="addCustomerAccount" parameterType="com.teamd0622.entity.CustomersAccount">
        INSERT INTO customers_account(id, owner, balance, currency) VALUES (#{id},#{owner},#{balance},#{currency})
    </insert>
    <delete id="deleteCustomerAccountById" parameterType="int">
        DELETE FROM customers_account WHERE id=#{id}
    </delete>
    <update id="updateCustomerAccount" parameterType="com.teamd0622.entity.CustomersAccount">
        UPDATE customers_account set id=#{id},owner=#{owner}, balance=#{balance},currency=#{currency} WHERE id=#{id}
    </update>
    <select id="getCustomerAccountById" parameterType="int" resultType="com.teamd0622.entity.CustomersAccount">
        SELECT * FROM customers_account WHERE id=#{id}
    </select>
    <select id="getAllCustomersAccount" resultType="com.teamd0622.entity.CustomersAccount">
        SELECT * FROM customers_account
    </select>



</mapper>